<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Picee | Using github as your image hosting service</title>
  <link rel="stylesheet" href="style/element-ui.css">
  <link rel="stylesheet" href="style/main.css">
</head>
<body>
  <div id="app" @click="onUploaderFocus">
    <!-- Auth start -->
    <div class="auth" v-if="loginMode">
      <div class="auth-methods">
        <span class="auth-methods-token" :class="{active: authMode === 'token'}" @click="changeAuthMode('token')">Access token</span>
        <span class="auth-methods-account" :class="{active: authMode === 'account'}" @click="changeAuthMode('account')">Account & Password</span>
      </div>
  
      <el-form v-if="authMode === 'token'" label-position="left" label-width="80px" class="auth-input">
        <el-form-item>
          <el-input v-model="githubToken"></el-input>
          <span slot="label">
            Token
            <a href="https://github.com/settings/tokens/new" target="_blank"><i class="el-icon-question"></i></a>
          </span>
        </el-form-item>
        <el-form-item class="auth-input-btns">
          <el-button @click="resetAuth">Reset</el-button>
          <el-button type="primary" @click="submitAuth" :disabled="!githubToken">Auth</el-button>
        </el-form-item>
      </el-form>
  
      <el-form v-if="authMode === 'account'" label-position="left" label-width="80px" class="auth-input">
        <el-form-item label="Account">
          <el-input v-model="githubAccount"></el-input>
        </el-form-item>
        <el-form-item label="Password">
          <el-input type="password" v-model="githubPassword"></el-input>
        </el-form-item>
        <el-form-item class="auth-input-btns">
          <el-button @click="resetAuth">Reset</el-button>
          <el-button type="primary" @click="submitAuth" :disabled="!githubAccount || !githubPassword">Auth</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!-- Auth end -->

    <!-- Upload start -->
    <div class="upload" v-if="!loginMode && !historyMode">
      <el-progress v-show="uploadProgress" class="upload-progress" :show-text="false" :stroke-width="6" :percentage="uploadProgress"></el-progress>

      <div class="upload-project">
        <el-tooltip content="eg. Username/Reponame">
          <el-input size="mini" class="upload-project-input" placeholder="Repo" v-model="repoName"></el-input>
        </el-tooltip>
        <el-tooltip content="Folder path, default is ''">
          <el-input size="mini" class="upload-project-input" placeholder="Folder" v-model="folderPath"></el-input>
        </el-tooltip>
        <el-tooltip content="Confirm">
          <el-button size="mini" @click="setRepoName">
            <i class="el-icon-check"></i>
          </el-button>
        </el-tooltip>
      </div>

      <div v-if="isRepoNameCorrect" @dragover.prevent @drop.stop.prevent="onDrop" class="upload-area target" :class="{'focus': uploaderFocus}" @paste="onPaste">
        <label class="target" v-if="uploaderFocus" for="uploader"></label>
        <input id="uploader" @change="onFileChange" type="file">
        <h3 v-if="!previewImg">Select, paste or drag an image here</h3>
        <img v-if="previewImg" class="target" :src="previewImg">
      </div>

      <div class="upload-link" v-if="isRepoNameCorrect">
        <el-input ref="imgLink" size="mini" readonly :value="copyAsMarkdown ? `![image](${imgLink})` : imgLink"></el-input>
        <el-tooltip content="Copy to clipboard">
          <el-button size="mini" :disabled="!imgLink" @click="copyUrl">
            <i class="el-icon-document-copy"></i>
          </el-button>
        </el-tooltip>
      </div>
    </div>
    <!-- Upload end -->

    <!-- History start -->
    <div class="history" v-if="historyMode">
      <el-timeline>
        <el-timeline-item v-for="(item, index) in uploadHistory" :key="index" :timestamp="item.time" placement="top">
          <el-card>
            <div class="history-detail">
              <a class="history-detail-img" :href="item.imgLink" target="_blank">
                <img :src="item.imgLink">
              </a>
              <div class="history-detail-link">
                <el-input :ref="`imgLink_${index}`" :value="copyAsMarkdown ? `![image](${item.imgLink})` : item.imgLink" readonly size="mini"></el-input>
                <el-tooltip content="Copy to clipboard">
                  <el-button size="mini" @click="copyUrl($event, `imgLink_${index}`)">
                    <i class="el-icon-document-copy"></i>
                  </el-button>
                </el-tooltip>
              </div>
            </div>
          </el-card>
        </el-timeline-item>
      </el-timeline>
    </div>
    <!-- History end -->

    <!-- Config start -->
    <div v-if="!loginMode" class="tools">
      <div class="tools-config">
        <el-tooltip content="Configuration">
          <i class="tools-btn el-icon-s-operation" @click="showConfig = !showConfig"></i>
        </el-tooltip>
        <el-tooltip content="History">
          <i class="tools-btn el-icon-time" :disabled="!uploadHistory.length" @click="historyMode = !historyMode"></i>
        </el-tooltip>
        <div v-if="showConfig" class="tools-config-items">
          <h5><el-checkbox class="checkbox" v-model="autoUpload">Auto upload</el-checkbox></h5>
          <h5><el-checkbox class="checkbox" v-model="renameWithHash">Rename the image with a hash</el-checkbox></h5>
          <h5><el-checkbox class="checkbox" v-model="copyAsMarkdown">Copy url as markdown format</el-checkbox></h5>
          <h5><el-checkbox class="checkbox" v-model="setMaxSize">Image max size (kb)</el-checkbox></h5>
          <el-input-number :disabled="!setMaxSize" size="mini" :min="200" v-model="compressSize" :step="100"></el-input-number>
        </div>
      </div>

      <div>
        <el-tooltip content="Refresh">
          <i class="tools-refresh tools-btn el-icon-refresh" @click="refresh"></i>
        </el-tooltip>
        <el-tooltip :disabled="ableToUpload" v-if="!autoUpload" content="Upload">
          <i class="tools-upload tools-btn el-icon-upload2" :disabled="ableToUpload" @click="upload"></i>
        </el-tooltip>
        <el-tooltip content="Logout">
          <i class="tools-logout tools-btn el-icon-switch-button" @click="logout"></i>
        </el-tooltip>
      </div>
    </div>
    <!-- Config end -->
  </div>


  <script src="js/vue.min.js"></script>
  <script src="js/element-ui.js"></script>
  <script type="module" src="js/main.js"></script>
</body>
</html>